<main class="mt-5">
    <div class="container">
        <div class="card mx-auto" style="width:500px;">
            <div class="card-header">
                <img class="card-img-top mx-auto m-2 rounded-circle" src="/img/logo.jpg" alt="Logo" style="width: 150px;height:150px;display:block;">
                <h3 class="text-uppercase text-center p-4">CRUD NODE ISB 6IV6 GHEA</h3>
            </div>
            <div class="card-body text-center">
                <p>Este es un CRUD construido con Node.js, MySql y HTML (hsb) para el registro, consulta, actualización y borrado
                    de productos comerciales a considerar.
                </p>
                <a href="/add" class="btn btn-primary">Registrar Producto</a>
            </div>
        </div>
    </div>
</main>